################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Properties/launchSettings.json
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/bin/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.Services/obj
/TTL_HitaGame.WebApi/TTL_HitaGame.Services/bin/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/obj/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/obj
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/bin/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/.vs/TTL_HitaGame.WebApi/config
/TTL_HitaGame.WebApi/.vs
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Logs
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/obj
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi.csproj.user
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/TTL_HitaGame - Backup.WebApi.csproj
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Properties/PublishProfiles/FolderProfile.pubxml
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/bin/Release/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/bin/Release/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.Services/bin/Release/netcoreapp3.1
/.idea/.idea.folder.dir/.idea
/TTL_HitaGame.WebApi/.idea/.idea.TTL_HitaGame.WebApi/.idea
/api_word2wp/obj/Debug/netcoreapp3.1
/.vs/api_word2wp/FileContentIndex
/.vs/ProjectEvaluation/api_word2wp.metadata.v7.bin
/.vs/api_word2wp/v17/.futdcache.v2
/.vs/api_word2wp/v17/.suo
/.vs/ProjectEvaluation/api_word2wp.projects.v7.bin
/api_word2wp/bin/Debug/netcoreapp3.1/api_word2wp.dll
/api_word2wp/bin/Debug/netcoreapp3.1/api_word2wp.exe
/api_word2wp/bin/Debug/netcoreapp3.1/api_word2wp.pdb
*.exe
*.dll
*.pdb
/api_word2wp/Properties/PublishProfiles/FolderProfile.pubxml.user
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.AssemblyInfo.cs
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.AssemblyInfoInputs.cache
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.csproj.FileListAbsolute.txt
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.dll
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.pdb
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.RazorTargetAssemblyInfo.cache
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.sourcelink.json
/api_word2wp/obj/Release/netcoreapp3.1/apphost.exe
/api_word2wp/obj/Debug/netcoreapp3.1/api_word2wp.AssemblyInfo.cs
/api_word2wp/obj/Debug/netcoreapp3.1/api_word2wp.AssemblyInfoInputs.cache
/api_word2wp/Properties/PublishProfiles/FolderProfile.pubxml.user
*.dylib
/.vs/api_word2wp/DesignTimeBuild/.dtbcache.v2
/api_word2wp/obj/Debug/netcoreapp3.1/api_word2wp.csproj.CoreCompileInputs.cache
/.vs/api_word2wp/DesignTimeBuild/.dtbcache.v2
*.json
*.wsuo
/api_word2wp/obj/Release/netcoreapp3.1/api_word2wp.csproj.CoreCompileInputs.cache
