################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Properties/launchSettings.json
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/bin/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.Services/obj
/TTL_HitaGame.WebApi/TTL_HitaGame.Services/bin/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/obj/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/obj
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/bin/Debug/netcoreapp3.1
/TTL_HitaGame.WebApi/.vs/TTL_HitaGame.WebApi/config
/TTL_HitaGame.WebApi/.vs
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Logs
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/obj
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi.csproj.user
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/TTL_HitaGame - Backup.WebApi.csproj
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Properties/PublishProfiles/FolderProfile.pubxml
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/bin/Release/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/TTL_HitaGame.WebApi/TTL_HitaGame.DbContext/bin/Release/netcoreapp3.1
/TTL_HitaGame.WebApi/TTL_HitaGame.Services/bin/Release/netcoreapp3.1
/.idea/.idea.folder.dir/.idea
/TTL_HitaGame.WebApi/.idea/.idea.TTL_HitaGame.WebApi/.idea
/api_word2wp/obj/Debug/netcoreapp3.1
/.vs/api_word2wp/FileContentIndex
